body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #1e1e2e;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid whitesmoke;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid white;
  padding: 60px;
}

h1 {
  color: #f5c2e7;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
}

.hour {
  background-color: #313244;
  color: white;
  padding-top: 25px;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #45475a;
  color: white;
}

.present {
  background-color: #f38ba8;
  color: white;
}

.future {
  background-color: #a6e3a1;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #89b4fa;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.notification {
  display: none;
  color: white;
}

.show {
  display: block;
}